<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8"/>
<head>
    <title>Home</title>
    <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.js"></script>
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script th:src="@{jquery-3.2.1.min.js}" type="text/javascript"></script>
</head>
<body>
<p>聊天室</p>
<form id="evanForm">
    <textarea rows="4" cols="60" name="text"></textarea>
    <input type="submit"/>
</form>
<script th:inline="javascript">
    $("#evanForm").submit(function(e){
        e.preventDefault();
        var text = $("#evanForm").find('textarea[name="text"]').val();
        sendSpittle(text);
    });

    var sock = new SockJS("/endpointChat");
    var stomp = Stomp.over(sock);
    stomp.connect('guest','guest',function(frame){
        stomp.subscribe("/user/queue/notifications",handlerNotification);
    });

    function handlerNotification(message){
        $('#output').append("<b>Received:"+message.body+"</b><br/>");
    }

    function sendSpittle(text){
        stomp.send("/chat",{},text);
    };

    $('#stop').click(function(){sock.close()});

</script>
<div id="output"></div>
</body>
</html>